Flask==2.3.2
openai==1.64.0
Requests==2.32.3
[
  "品牌：速惟\n 产品：宽下摆运动内衣\nFAB 产品解说: V 形美背。提升散热能力，大方露出背部肌肤。让穿着者在运动中保持清爽，同时展现出迷人的背部曲线。, 加宽下摆。舒适不勒腰。提供良好的穿着体验，减少束缚感。\n 面料宣传: 优质面料，吸湿排汗，让您时刻保持干爽舒适。\n 工艺: 净色\n 运动场景: 器械, 骑行\n 一句话宣传: 外穿无压力的运动内衣，超适合夏天户外！\n 用户痛点: 希望找到一款能够有效隐藏副乳的运动内衣。\n 版型宣传: 贴合身形的设计，提供舒适的穿着体验。\n 设计宣传: 加宽下摆设计，舒适无束缚。, V 形美背设计，凸显迷人曲线。\n 面料解说: 丝滑的面料质感，提供舒适的肌肤触感。\n 颜色：焦糖棕"
]
[
  "品牌：速惟\n 产品：宽下摆运动内衣\nFAB 产品解说: V 形美背。提升散热能力，大方露出背部肌肤。让穿着者在运动中保持清爽，同时展现出迷人的背部曲线。, 加宽下摆。舒适不勒腰。提供良好的穿着体验，减少束缚感。\n 面料宣传: 优质面料，吸湿排汗，让您时刻保持干爽舒适。\n 工艺: 净色\n 运动场景: 器械, 骑行\n 一句话宣传: 外穿无压力的运动内衣，超适合夏天户外！\n 用户痛点: 希望找到一款能够有效隐藏副乳的运动内衣。\n 版型宣传: 贴合身形的设计，提供舒适的穿着体验。\n 设计宣传: 加宽下摆设计，舒适无束缚。, V 形美背设计，凸显迷人曲线。\n 面料解说: 丝滑的面料质感，提供舒适的肌肤触感。\n 颜色：焦糖棕"
]


[
  "品牌：速惟\n 产品：宽下摆运动内衣\nFAB 产品解说: 丝滑弹力面料。支撑胸部，收束赘肉。帮助塑造好身材，展现女性魅力。, 加宽下摆。舒适不勒腰。提供良好的穿着体验，减少束缚感。\n 面料宣传: 优质面料，吸湿排汗，让您时刻保持干爽舒适。\n 工艺: 净色\n 运动场景: 骑行, 跳绳\n 一句话宣传: 外穿无压力的运动内衣，超适合夏天户外！\n 用户痛点: 希望找到一款能够有效隐藏副乳的运动内衣。\n 版型宣传: 贴合身形的设计，提供舒适的穿着体验。\n 设计宣传: V 形美背设计，凸显迷人曲线。, 侧翼加高设计，有效隐藏副乳。\n 面料解说: 面料成分包含 75%锦纶和 25%氨纶，具有良好的弹性和延展性。\n 无颜色"
]

[
  "品牌：速惟\n 产品：宽下摆运动内衣\nFAB 产品解说: 丝滑弹力面料。支撑胸部，收束赘肉。帮助塑造好身材，展现女性魅力。, V 形美背。提升散热能力，大方露出背部肌肤。让穿着者在运动中保持清爽，同时展现出迷人的背部曲线。\n 面料宣传: 优质面料，吸湿排汗，让您时刻保持干爽舒适。\n 工艺: 净色\n 运动场景: 跳绳, 跑步\n 一句话宣传: 外穿无压力的运动内衣，超适合夏天户外！\n 用户痛点: 期望运动内衣具有良好的支撑和收束效果，能展现好身材。\n 版型宣传: 贴合身形的设计，提供舒适的穿着体验。\n 设计宣传: 加长背心式设计，外穿自信不尴尬。, V 形美背设计，凸显迷人曲线。\n 面料解说: 面料成分包含 75%锦纶和 25%氨纶，具有良好的弹性和延展性。\n 无颜色"
]